/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 @import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

 body{
	font-family: "Fragment Mono", monospace;
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
	overflow-wrap: break-word;
 }

 
 pre {
  background-color: #242323; 
  border-radius: 8px; 
  overflow-x: auto; 
  padding: 8px 16px;
}

code {
  color: #f8f8f2;
  font-family:'Zeitung Mono Pro'; 
  font-size: 13px;
}


code.inline {
  background-color: #44475a;
  padding: 2px 4px;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}


::-webkit-scrollbar-thumb:hover {
  background: #c7d282; 
}

.blog__li:hover{
.arrow{
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition: ease-out;
  transition-duration: 200ms;
  animation-duration: 2s;
}
}
.blog__li{
  .arrow{
    --tw-rotate: 0deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition: ease-out;
    transition-duration: 200ms;
    animation-duration: 2s;
  }
  }